<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias ( $event )"
        placeholder="Buscar Pais"
        ></app-pais-input>
    </div>
</div>
<ul class="list-group" 
    *ngIf="barraSugerencias">
    <li class="list-group-item list-group-item-action"
        *ngFor="let items of paisesSugeridos">
        <a class="navi-link" 
        [routerLink]="['/pais', items.cca2]">
            {{items.name.common}}
        </a>           
    </li>
    <li class="list-group-item list-group-item-action"
        (click)="buscarSugerido(termino)">
        <a class="navi-link">
            Buscar "{{ termino }}"
        </a>           
    </li>
</ul>

<hr>
<div class="alert alert-danger"
    *ngIf="hayerror">
    No se encontro ninguna coincidencia con: {{termino}}
</div>

<div class="row"
    *ngIf="paises.length > 0" >
    <div class="col">
        <app-pais-tabla
        [paises]="paises" 
        ></app-pais-tabla>
    </div>
</div>
</div>