
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Poblacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paises of paises, let i=index"
            class="animate__animated animate__fadeIn animate__slower">
            <td>{{i+1}}</td>
            <td><img [src]="paises.flags.png" class="small-flag"></td>
            <td>{{paises.name.common}} ({{paises.capital}})</td>
            <td>{{paises.population | number}}</td>
            <td>
                <a [routerLink]="['/pais', paises.cca2]">Ver mas...</a>
            </td>
        </tr>
    </tbody>
</table>